.MovieInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

}


.poster img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 10px 5px 15px black;
}


.description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 550px;
    box-shadow: 10px 5px 15px black;


}


.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.original_title {
    font-size: 24px;
    margin-bottom: 10px;
}


.genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.backButton {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
}
.backButton button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0 8px;
    transition: all 0.3s ease-in-out;
}
.backButton button:hover {
    background-color: #333333;
    color: #ffffff;
}
.backButton button:active {
    transform: translateY(20px);
}
.backButton button:hover {
    background-color: #333333;
    color: #ffffff;
}
.backButton button:active {
    transform: translateY(20px);
}
.Badge {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .MovieInfo {
        max-width: 1024px;
        margin: 20px auto;
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }



}
.backButton {
    align-self: flex-start;
    margin-bottom: 50px;
    height: 35px;

}