
.Genre {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
   align-items: center;

    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    margin-left: 20px;
}

.Genre:hover {
    transform: scale(1.5);
}

.Genre.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.Genre.active:hover {
    transform: none;
}
a {
    text-decoration: none;
    color: #5a51c4;
}