.main{
    width: 100%;
}


.Header {
    background-image: url('https://cdn.pampa.ir/uploads/2021/06/digiro.ir-215-780x470.jpg');
    background-size:  revert  ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
}

