.Header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFMcCjbcfAlDynNhLTGf_FJEnIKU05toraDQ&usqp=CAU');
    background-size: contain;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
}

.searchIcon {
    margin-right: 10px;
}