.searchInput {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.input {
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    height: 40px;
    outline: none;
    padding: 0px 20px;
    width: 400px;
    transition: box-shadow 0.3s ease-in-out;
}

.input:focus {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}