

.Genre {
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-width: 2px 2px 2px 2px;
    border-style: solid dashed solid dashed;
    border-color: #230b28 #1d0021 #140d15 #0b0521;
    width: 150px;
    height: 750px;
    border-radius: 20px;
    padding: 25px;
    margin-top: 70px;
    margin-left: 20px;
    backdrop-filter: blur(20px);
    position: relative;


}

.Genre:hover {




    transform: scale(1.05);
}

.Genre.active {
    background-color: #007bff;
    border-color: #007bff;
}

.Genre.active:hover {
    transform: none;
}
